.home {
  padding: 6rem 0;

  &-container {
    text-align: center;
    color: #ff8e3c;

    &__title {
      font-weight: bold;
      font-size: 4rem;
    }
    &__subtitle {
      margin: 1.5rem 0;
      color: #252525;
      font-weight: 500;
      font-size: 1.5rem;
    }
    &__action {
      margin: 1rem auto;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      &-btn {
        width: 40%;
        button {
          padding: 0.5rem 0;
          width: 100%;
          background-color: #ff8e3c;
          border: none;
          border-radius: 0.5rem;
          font-size: 1.1rem;
        }
      }
    }

    @media screen and (max-width: 998px) {
      &__title {
        font-size: 3rem;
      }
      &__subtitle {
        font-size: 1.3rem;
      }
      &__action {
        flex-direction: column;
        width: 60%;

        &-btn{
          width: 90%;

          button {
            width: 100%;
            margin: 1rem 0;
          }
        }
      }
    }
  }
}
